
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  font-family: "Inter", sans-serif;
}


/*Temporal Header Styling*/
.header--container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: blanchedalmond;
}

.nav-bar{
  display: flex;
  flex-basis: 50%;
  justify-content: space-evenly;
}

.site-logo{
  flex-basis: 50%;
}

/*Temporal Home Styling*/

.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: white;
  background-image: url(./assets/images/home_background.png);
  background-position: center;
  background-size: 100%;
}

/*Temporal About Styling*/

.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.about--div__explore{
  display: flex;
  flex-direction: column;
  background-color: blanchedalmond;
}

/*Temporal Footer Styling*/
.footer-container{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: gray;
  color: white;

}



